{% extends "layouts/base-fullscreen.html" %}

{% block content %}
    <div class="card">
        <div class="card-body text-center">
            <div class="mb-4">
                <i class="feather icon-unlock auth-icon"></i>
            </div>
            <h3 class="mb-4">Вход</h3>

            {% include "includes/muted.html"%}

            <form role="form" method="post" action="">

                {% csrf_token %}

                <div class="input-group mb-3">
                    {{ form.username }}
                </div>

                <div class="input-group mb-4">
                    {{ form.password }}
                </div>

                <div class="form-group text-left">
                    <div class="checkbox checkbox-fill d-inline">
                        <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                        <label for="checkbox-fill-a1" class="cr">Запомнить</label>
                    </div>
                </div>
                <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4">Войти</button>

            </form>

            <p class="mb-0 text-muted">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
            <br/>
            {% include 'includes/footer.html' %}
        </div>
    </div>
{% endblock content %}
