.action_form {
    left: 50%;
    margin-left: -200px;
    position: absolute;
    width: 1000px;
    margin-top: 20%;
}

.bg {
    background: url(../img/bg.jpg); /* Цвет фона и путь к файлу */
    background-size: cover;
    color: #fff; /* Цвет текста */
   }