<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Rest Upload</title>

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
        <link href="{% static 'css/form.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/upload.css' %}" rel="stylesheet"/>
    {% endblock %}

</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>



